<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Query -->
<mapper namespace="mybatis.mapper">
	<insert id="addmember" parameterType="DTO.MemberDTO">
		insert into member(id, pwd, name, email, auth)
		values(#{id}, #{pwd}, #{name}, #{email}, 3)
	</insert>
	<select id="getmember" parameterType="java.lang.String" resultType="DTO.MemberDTO">
		select id, pwd, name, email, auth
		from member
		where id=#{id}
	</select>
	<select id="allmember" resultType="DTO.MemberDTO">
		select * from member
	</select>
	<update id="updatemember" parameterType="DTO.MemberDTO">
		update member
		set name=#{name}, email=#{email}
		where id=#{id}
	</update>
	<delete id="deletemember" parameterType="String">
		delete from member where id=#{id}
	</delete>
</mapper>